.pad-btm {
    font-size: 48px;
    padding-bottom: 30px;
}
.agent_img{
    width: 40px;
    height: 38px;
    border-radius: 50px !important;
    background-color: #cccccc;
    margin-top: 13px;
    margin-left: 45px;
}
.dashboard-stat .visual{
    height: auto !important;
}